* {
  text-align: center;
}
.black {
  background-color: black;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.color {
  border: solid 1px black;
  margin: 5px;
  padding: 40px;
  display: inline-block;
}

#pixel-board {
  width: 410px;
}

.pixel {
  border: 1px solid black;
  display: inline-block;
  background-color: white;
  padding: 40px;
}
